body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #c9d6ff, #e2e2e2);
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  z-index: 1;
} .container:before {
  content: "";
  background: inherit;
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  color: #333;
  text-shadow: 2px 2px 0 #fff;
}
p {
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
  color: #777;
  text-shadow: 2px 2px 0 #fff;
}
.btn {
  display: inline-block;
  margin-top: 50px;
  padding: 20px 50px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0 #ccc;
  transition: all 0.3s ease;
} .btn:hover {
  background-color: #f44336;
  box-shadow: 4px 4px 0 #ccc;
  transform: translate(2px, 2px);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 22px;
  }
  .btn {
    font-size: 18px;
    padding: 15px 40px;
  }
}